<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="referi.co" name="copyright"/>
    <meta content="Manage your clinical referrals by using our dashboards to understand how much value your referral network is adding." name="description"/>
    <meta content="clinic, surgical clinic, referral, surgical referrals, dashboard, surgical dashboard, surgical referral dashboard" name="keywords"/>
    <meta content="index,follow" name="robots"/>
    <meta content="Manage your clinic referrals" name="DC.title"/>

    <title>
      Referi - Manage your surgical referrals
    </title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Rozha+One|Crimson+Text" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}" media="screen" />

    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114277036-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114277036-1');
    </script>
  </head>
  <body>
    <div class="header transHeader">
      <div class="title">
        <div>referi.co</div>
        <!-- <div class="subtitle">Mint for medical referrals</div>
        <div class="subtitle">Dashboards for modern practice</div> -->
        <div class="subtitle">Dashboarding your practice</div>
      </div>

      <div class="navLinks">
        <ul class="links">
          <li class="link">
            <a href="#scene1" id='linkProduct'>Product</a>
          </li>
          <li class="link">
            <a href="#scene2" id='linkNeed'>Need</a>
          </li>
          <li class="link">
            <a href="#scene4" id='linkTeam'>Team</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="playdough">
      <div id="caption1" class="caption active">
          <h1>Safely Improve your surgical yield up to 80%.</h1>
      </div>
      <div id="caption2" class="caption">
          <h1>See how your referral network is adding value.</h1>
      </div>
      <div id="caption3" class="caption">
          <h1>Understand and manage your referral network.</h1>
      </div>
      <div class="CTABox">
        <button class="CTA" id="btnSceneHeader">
          Get Started Now
        </button>
      </div>
    </div>
        
    <div class="scene" id="scene1">
      <h1>Our product manages referrals</h1>
      <br />
      <div class="prodItem">
        <div class="prod_imgBox">
          <img alt="Track Progress Stats Board" src="../static/images/trackSlice.png" class="prod_img"/>
        </div>
        <span class="prod_caption">
          Track your referring physicians and practices. Observe trends. 
        </span>
      </div>
      <div class="prodItem">
        <div class="prod_imgBox">
          <img alt="Get insights into behavior" src="../static/images/get_insights.png" class="prod_img"/>
        </div>
        <span class="prod_caption">
          Prioritize your referral base. Select for patients who can best benefit from your expertise.
        </span>
      </div>
      <div class="prodItem">
        <div class="prod_imgBox">
          <img alt="value adding behavior" src="../static/images/appCompl.png" class="prod_img"/>
        </div>
        <span class="prod_caption">
          Get feedback on making your practice more efficient. Use your NPs and PAs more effectively.
        </span>
      </div>
      <div class="prodItem">
        <div class="prod_imgBox">
          <img alt="strengthen good relationship" src="../static/images/prac_overtime.png" class="prod_img"/>
        </div>
        <span class="prod_caption">
          Get recommendations and tools to manage your referral base. Take action.
        </span>
      </div>

      <div class="cheekyAnnot">
        With referi, you get personalized data with realtime web and mobile dashboard.
      </div>
      <div class="CTABox">
        <button class="CTA" id="btnScene1">
          Get Started Now
        </button>
      </div>
    </div>
    <div class="scene" id="scene2">
      <h1>Managing your referral base matters</h1>
      <ul id="needListTop">
        <li>Improve your referral base to maximize impact on patient care and your practice.
          <ul>
            <li>Fewer than 2 in 10 patients seen by general surgeons actually need surgery (<a class="ref" href="https://www.ncbi.nlm.nih.gov/pubmed/24218748">1</a>). 
            This inefficiency is pervasive across all surgical sub-specialties.
            Such a low yield is bad for patients and providers.
            </li>
          </ul>
        </li>
        <li>
          Maintaining a strong referral base by rewarding the best referring physicians and practices is the 
          most effective way to improve your surgical yield (<a class="ref" href="http://www.annfammed.org/content/2/3/245.short">2</a>).
        </li>
        <li>
          Knowing your referral base is key to growing your practice through effective communication and access (<a class="ref" href="https://link.springer.com/article/10.1007/s11606-011-1861-z">3</a>).
        </li>
      </ul>
      <div class="CTABox">
        <button class="CTA" id="btnScene2">
          Get Started Now
        </button>
      </div>
    </div>
    <div class="scene" id="scene4">
      <h1>Our team brings dashboards to clinics</h1>
      <h4>The Brothers Prasad</h4>
      <div class="teamBlock">
        <img class="teamPic" src="../static/images/srini.jpeg" />
        <p class="teamCaption">
          Srini is a spine surgeon and attending faculty at Jefferson University.
          In addition to running his practice, Srini is an avid maker and the creative force behind this product.
        </p>
      </div>
      <div class="teamBlock">
        <img class="teamPic" src="../static/images/shankar.jpeg" />
        <p class="teamCaption">
          Shankar is a statistician and faculty member at Brown University.
          In addition to teaching, Shankar is the associate provost at Brown University, 
          and is an avid data junky.
        </p>
      </div>
      <div class="teamBlock">
        <img class="teamPic" src="../static/images/srikar.jpg" />
        <p class="teamCaption">
          Srikar is an x-Googler and the coder behind this product.
        </p>
      </div>
      <div class="cheekyAnnot">
        **Yes. We're brothers. And working together is super fun.**
      </div>
      <div class="CTABox">
        <button class="CTA" id="btnScene4">
          Get Started Now
        </button>
      </div>
    </div>

    <div id="overlay">
      <div id="signup">
        <span class="closer">X</span>
        <h1>Signup!</h1>
        <p>
          We are taking signups for our beta Launch!
          Thanks so much for signing up. 
          Don't worry. we won't share your information with anyone.
        </p>
        <div class="signupLine">
          <span class="suLabel">
            Name:
          </span>
          <input id="nameVal" type="text" class="suContent"/>
        </div>
        <div class="signupLine">
          <span class="suLabel">
            Email<span>*</span>:
          </span>
          <input id="emailVal" type="text" class="suContent"/>
          <div id="emailValid" class="validator">**This is a required field</div>
        </div>
        <div class="signupLine">
          <span class="suLabel">
            Specialty<span>*</span>:
          </span>
          <input id="specVal" type="text" class="suContent"/>
          <div id="specValid" class="validator">**This is a required field</div>
        </div>
        <div class="signupLine">
          <span class="suLabel">
            Role in Practice<span>*</span>:
          </span>
          <input id="roleVal" type="text" class="suContent"/>
          <div id="roleValid" class="validator">**This is a required field</div>
        </div>
        <div class="btnBox">
          <button id="btnCancel">Cancel</button>
          <button id="btnSignup">Signup</button>
        </div>
      </div>
    </div>

  </body>
</html>